<div style="padding:24px">

    @if (user) {
    <mat-card>
        <mat-card-title>User Details</mat-card-title>
        <mat-card-content>
            <p><strong>name:</strong> {{ user.name }}</p>
            <p><strong>language:</strong> {{ user.language }}</p>
            <p><strong>ID:</strong> {{ user.id }}</p>
            <p><strong>ID:</strong> {{ user.bio }}</p>
            <p><strong>ID:</strong> {{ user.version }}</p>
        </mat-card-content>
    </mat-card>
    } @else {
    <p>Loading user details...</p>
    }

</div>